<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
<head>
    <meta charset="utf-8" />
    <title>Login</title>
</head>
<body>
<div align="center">
    <h1>Please, enter your name and password</h1>
    <br />
    <!--
    Here is the form that will be used to save the new customer.
    The form is tied to the Customer object you added to the model,
    and on submit it will hit the /save endpoint using the POST method.
    -->
    <form action="#" th:action="@{/submit}" th:object="${user}" method="post">
        <!--
        These input fields are used to collect the information
        required to complete the referenced Customer object.
        -->
        <table border="0" cellpadding="10">
<!--            <tr>-->
<!--                <td>User name:</td>-->
<!--                <td><input type="text" th:field="*{name}" required/></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>Password:</td>-->
<!--                <td><input type="text" th:field="*{password}" required/></td>-->
<!--            </tr>-->
                <tr>
                    <td>Name</td>
                </tr>
            </br> </br>
            <tr>
                <td>Password</td>
            </tr>
            <br/><br/>

            <a th:href="@{/nik/tests}">Return to Homepage</a><br/>

            <br>
            <tr>
                <td colspan="2"><button type="save">Submit</button> </td>
            </tr>
            <br/><br/>
        </table>
    </form>
</div>
</body>
</html>