<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>About</title>
    <div th:replace="fragments :: header"/>
</head>

<body style="background-color:#EDF1FF">

<div th:replace="fragments :: navigation"></div>

<div align="center">

  <h2 style="text-align: center;">About</h2>

    <p style="text-align: center;">Originally this project was created to help the students
    <p style="text-align: center;">studying Java at Coding Nomads (https://codingnomads.co/)
    <p style="text-align: center;">online bootcamp and programming courses. The project creates
    <p style="text-align: center;">multiple choice tests on Java Fundamentals, and it is aimed at
    <p style="text-align: center;">beginners who want to learn a new coding language. This project
    <p style="text-align: center;">could be of interest to students, coding enthusiasts, as well as
    <p style="text-align: center;">professionals involved in teaching.</p>

</div>

</body>
</html>