<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Answer Manager</title>
  <div th:replace="fragments :: header"/>
</head>

<body style="background-color:#EDF1FF">

<div th:replace="fragments :: navigation"></div>

  <div class="container">
  <h2>Answer list</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Answer ID</th>
      <th>Answer Name</th>
      <th>Correct (true/false)</th>
      <th>Question name + (id)</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="answer : ${answerList}">
      <td th:text="${answer.id}">Answer ID</td>
      <td th:text="${answer.name}">Answer Name</td>
      <td th:text="${answer.correct}">Correct (true/false)</td>
      <td th:text="${answer.question}">Question name + (id)</td>
      <td>    <!-- actions -->
        <a th:href="@{'/answer/edit/' + ${answer.id}}">Edit</a>
        <a th:href="@{'/answer/delete/' + ${answer.id}}">Delete</a>
        <a th:text="${(answer.question == null) ? 'Assign Question' : ''}"
           th:href="@{'/answer/question/assign/' + ${answer.id}}"></a>
        <a th:text="${(answer.question != null) ? 'Remove Question' : ''}"
           th:href="${(answer.question != null) ? '/answer/question/remove/' + answer.getId() : ''}"></a>
      </td>
    </tr>
    </tbody>
  </table>

<!--  </br>-->
<!--  <a th:href="@{/answer/new}">Create new answer</a>-->

<!--  </br>-->

</div>
</body>
</html>