<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Answers Manager</title>
    <div th:replace="fragments :: header"/>
</head>

<body style="background-color:#EDF1FF">

<div th:replace="fragments :: navigation"></div>
<div align="center">

    <h1>Answers</h1>

    <br/><br/>

    <br>
    <br/><br/>
    <div class="container" align="center">

        <table class="table table-bordered">

        <thead>
        <tr>
            <th sec:authorize="hasRole('ADMIN')">Question ID</th>
            <th>Question Name</th>
            <th>Your Answer</th>
            <th>Correct Answer</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="question : ${testObject.questions}">

            <td sec:authorize="hasRole('ADMIN')" th:text="${question.id}"></td>
            <td th:text="${question.name}"></td>
            <td th:text="${userAnswers.get(question.id)}"></td>
            <td th:text="${correctAnswers.get(question.id)}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>