<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Edit Test</title>
</head>
<body style="background-color:#EDF1FF">
<div align="center">
  <h1>Edit Test</h1>
  <br />
  <form action="#" th:action="@{'/test/update/' + ${test.id}}" th:object="${test}"
        method="post">
    <table border="0" cellpadding="10">
      <tr>
        <td>Test ID:</td>
        <td><input type="text" th:field="*{id}" readonly/></td>
      </tr>
      <tr>
        <td>Test Name:</td>
        <td><input type="text" th:field="*{name}" required/></td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit">Save</button></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>