<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Question</title>
    <div th:replace="fragments :: header"/>
</head>
<body style="background-color:#EDF1FF">
<div align="center">
    <h1>Edit Question</h1>
    <br />
    <form action="#" th:action="@{'/question/update/' + ${question.id}}" th:object="${question}"
          method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>Question ID:</td>
                <td><input type="text" th:field="*{id}" readonly/></td>
            </tr>
            <tr>
                <td>Question Name:</td>
                <td><input type="text" th:field="*{name}" required/></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>