<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <div th:replace="fragments :: header"/>
</head>

<body style="background-color:#EDF1FF">

<div th:replace="fragments :: navigation"></div>

<div align="center">
    <h1>
        Hello and welcome to the Java test page
    </h1>

    </br>
    </br>
    <h4>
        Please, create an account to get full access to the tests.

    </h4>

</div>
</br>
</br>


<h2 align="center">Check out cool article about Java from The New York Times</h2>

    <div class="container" align="center">
        <div class="bg-light p-4 rounded m-2">
                <th:block th:if="${searchArticle != null}">
                <div class="row justify-content-center">
                        <div class="card" style="width: 18rem; height: 34rem;">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${searchArticle.leadParagraph}">title</h5>
                                <a th:href="${searchArticle.web_url}" class="btn btn-primary">Read More..</a>
                            </div>
                        </div>
                </div>
            </th:block>
        </div>
    </div>
</body>
</html>