<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create New Answer</title>
    <div th:replace="fragments :: header"/>
</head>

<body style="background-color:#EDF1FF">
<div align="center">
    <h1>Create New Answer</h1>
    <br />
    <form action="#" th:action="@{/answer/save}" th:object="${answer}" method="post">

        <table border="0" cellpadding="10">

            <tr>
                <td>Answer Name:</td>
                <td><input type="text" th:field="*{name}" required/></td>
            </tr>
        </table>
            <tr>
                <td colspan="2"><button type="save">Save</button> </td>
            </tr>
    </form>
        </br>
            <a th:href="@{/test/list}">Go to test-list</a>
        </br>
        </br>
            <a th:href="@{/question/list}">Go to question-list</a>
        </br>
        </br>
            <a th:href="@{/answer/list}">Go to answer-list</a>
        </br>
        </br>
            <a th:href="@{/}">Return to homepage</a>
        </br>
</body>
</html>