<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create New Test</title>
    <div th:replace="fragments :: header"/>
</head>

<body style="background-color:#EDF1FF">

<div th:replace="fragments :: navigation"></div>


<body>
    <div align="center">
        <h1>Create New Test</h1>
    <br />
        <form action="#" th:action="@{/test/save}" th:object="${test}" method="post">
            <table border="0" cellpadding="10">
                <tr>
                    <td>Test Name:</td>
                    <td><input type="text" th:field="*{name}" required/></td>
                </tr>
            </table>
                </br></br>
                <tr>
                    <td colspan="2" align="center"><button type="save">Save</button> </td>
                </tr>


        </form>

</body>
</html>