<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Question Manager</title>
    <div th:replace="fragments :: header"/>
</head>

<body style="background-color:#EDF1FF">

<div th:replace="fragments :: navigation"></div>

<body>
<div align="center">

    <h1>Question List</h1>

    <br/><br/>
    <div class="container" align="center">
        <table class="table table-bordered">
        <thead>
        <tr>
            <th>Question Id</th>
            <th>Question Name</th>
            <th>Test name + (id)</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="question : ${questionList}">
            <td th:text="${question.id}">Question Id</td>
            <td th:text="${question.name}">Question Name</td>
            <td th:text="${question.test}">Test name + (id)</td>
            <td>    <!-- actions -->
                <a th:href="@{'/question/edit/' + ${question.id}}">Edit</a>
                <a th:href="@{'/question/delete/' + ${question.id}}">Delete</a>
                <a th:text="${(question.test == null) ? 'Assign Test' : ''}"
                   th:href="@{'/test/assign/' + ${question.id}}"></a>
                <a th:text="${(question.test != null) ? 'Remove Test' : ''}"
                   th:href="${(question.test != null) ? '/test/remove/' + question.getId() : ''}"></a>
                <a th:href="@{/answer/anew}">Create new Answer</a>
            </td>
        </tr>
        </tbody>
    </table>
    </br>
    <a th:href="@{/question/new}"><button type="save">Create new question</a>
    </br>
</div>
</body>
</html>