<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>RegisteredAnswers Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Test Your Java</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/registered/home}">Home</a></li>
            <li class="active"><a th:href="@{/registered/tests}">Tests</a></li>
            <li><a th:href="@{/logout}">Log out</a></li>
        </ul>
    </div>
</nav>

<head>
    <meta charset="utf-8"/>
    <title>Answers Manager</title>
</head>
<body>
<div align="center">

    <h1>Answers</h1>

    <br/><br/>
    <!--    <form action="#" th:action="@{/submitAnswer}" th:object="${answer}" method="post">-->
    <br>
    <br/><br/>
    <div class="container" align="center">
        <!--        <h2>Java Fundamentals</h2>-->
        <!--        <p>The .table-bordered class adds borders to a table:</p>-->
        <table class="table table-bordered">

            <thead>
            <tr>
                <th>Question ID</th>
                <th>Question Name</th>
                <th>Your Answer</th>
                <th>Correct Answer</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="question : ${testObject.questions}">

                <td th:text="${question.id}"></td>
                <td th:text="${question.name}"></td>
                <td th:text="${userAnswers.get(question.id)}"></td>
                <td th:text="${correctAnswers.get(question.id)}"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>