<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<meta charset="utf-8"/>
<title>Question Manager</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!--<link th:href="@{/css/style3.css}" rel="stylesheet"/>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color:#EDF1FF">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Test Your Java</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/test/tests}">Home</a></li>
            <li><a th:href="@{/login}" class="link-dark">Log in</a></li>
            <li th:if="${isAdmin}"><a th:href="@{/create-account}">Create an account</a></li>
            <li><a th:href="@{/logout}">Log out</a></li>
            <li th:if="${isAdmin}"><a th:href="@{/test/list}">Go to test-list</a></li>
            <li th:if="${isAdmin}"><a th:href="@{/question/list}">Go to question-list</a></li>
            <li th:if="${isAdmin}" ><a th:href="@{/answer/list}">Go to answer-list</a></li>
        </ul>
    </div>
</nav>

<body>
<div align="center">
    <h1>
        <span> Test <th:block th:text="${testObject.name}">[name]</th:block> </span>
    </h1>

    <form action="/answer/submit" method="post">


        <div class="container" align="center">
            <h2>Java Fundamentals</h2>
            <table class="table table-bordered">

        <thead>
        <tr>
            <th>Question Id</th>
            <th>Question</th>
            <th>Answer Id:</th>
<!--            <th>Answer</th>-->
        </tr>
        </thead>

                <tbody>

        <tr th:each="question : ${testObject.questions}">


                <td th:text="${question.id}"></td>
                <td th:text="${question.name}"></td>
                <td>
                        <input type="radio" th:each="answer : ${question.answers}"
                           th:text="${answer.id + ': ' + answer.name}"
                           th:id="${answer.id}"
                           th:name="${question.id}"
                           th:value="${answer.id}" value="HTML"></td>
          </tr>
        </tbody>

            </table>
        </div>

    <tr>
        <td colspan="2"><button type="submit">Submit</button> </td>
    </tr>
    </form>



<!--            <table border="1" cellpadding="10">-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Answer Id</th>-->
<!--                    &lt;!&ndash;                    <th>Answer Name</th>&ndash;&gt;-->
<!--                    <th>Answer</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->

<!--                </tbody>-->
<!--            </table>-->

            <!--            <div  th:each="answer : ${question.answers}" >-->
            <!--                <input type="radio">-->

            <!--            </div>-->
            <br>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>