<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test List Manager</title>
    <div th:replace="fragments :: header"/>
    <!--    <link th:href="@{/css/style2.css}" rel="stylesheet"/>-->
</head>
<body style="background-color:#EDF1FF">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Test Your Java</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/test/tests}">Tests</a></li>
            <li><a th:href="@{/login}" class="link-dark">Log in</a></li>
            <li><a th:href="@{/create-account}">Create an account</a></li>
            <li><a th:href="@{/logout}">Log out</a></li>
            <li th:if="${isAdmin}"><a th:href="@{/test/new}">Create new test</a></li>
            <li th:if="${isAdmin}"><a th:href="@{/question/list}">Go to question-list</a></li>
            <li th:if="${isAdmin}"><a th:href="@{/answer/list}">Go to answer-list</a></li>
        </ul>
    </div>
</nav>
<body>
    <div align="center">

        <h1>Test List</h1>

        <br/><br/>
        <div class="container" align="center">
            <h2>Java Fundamentals</h2>
            <table class="table table-bordered">
            <thead>
            <tr>
                <th>Test ID</th>
                <th>Test Name</th>
                <th>Question List</th>
                <th>Test Link</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="test : ${testList}">
                <td th:text="${test.id}">Test ID</td>
                <td th:text="${test.name}">Test Name</td>
                <td>Question List:
                    <select class="form-select" name="questionId">
<!--                        <option th:if="${questionList.isEmpty()}">None Available</option>-->
                        <option th:each="question : ${test.questions}" th:value="${question.id}" th:text="${question.toString()}"></option>
                    </select>
                </td>
<!--            </tr>-->

<!--                <td th:text="${test.question != null} ? ${test.question.id}"></td>-->
                <td>
                    <a th:href="@{'/test/tests/' + ${test.id}}">Link</a>
                </td>
                <td>    <!-- actions -->
                    <a th:href="@{'/test/edit/' + ${test.id}}">Edit</a>
                    <a th:href="@{'/test/delete/' + ${test.id}}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

            </br>
            <a th:href="@{/test/new}">Create new test</a>

            </br>

    </div>
    </div>
</body>
</html>